<ion-header>
  <ion-navbar>
    <ion-title>
      Couchbase w/ Ionic 3
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      TODO Items
    </ion-list-header>
    <ion-item *ngFor="let item of items">
      {{ item.title }} {{item._id}}
      <button ion-button clear item-end (click)="delete(item._id, item._rev)">delete</button>
      <button ion-button clear item-end (click)="deleteSync(item._id, item._rev)">deleteSync</button>
    </ion-item>
  </ion-list>
  <ion-buttons>
    <button ion-button full (click)="showAll()">
      Show all TODO items (synchronous call)
    </button>
  </ion-buttons>
  <ion-list>
    <ion-list-header>
      TODO Items Edit
    </ion-list-header>
    <ion-item *ngFor="let item of items">
      {{ item.title }} {{item._id}}
      <button ion-button clear item-end (click)="edit(item._id, item._rev)">edit</button>
    </ion-item>
  </ion-list>
  <ion-buttons>
    <button ion-button color="secondary" (click)="bulkLoad()">
      Async Bulk Load
    </button>
    <button ion-button color="secondary" (click)="bulkLoadSync()">
      Sync Bulk Load
    </button>
  </ion-buttons>

  <ion-list>
    <ion-list-header>
      Bulk Items: count {{ bulkItemCount }}, 5 IDs shown below
    </ion-list-header>
    <ion-item *ngFor="let item of bulkItems">
      {{item.id}}
    </ion-item>
  </ion-list>
</ion-content>
